.reservation {
  background-image: url(/images/background_reservation.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #d9e7ff;
  padding: 100px 0 120px;
  z-index: 1;
  position: relative;
}
.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto 80px;
}
.reservation__form {
  display: flex;
  flex-direction: column;
}
