.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
}
.header {
  background-image: url(/images/background_header.svg);
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 30px 80px 40px;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  position: relative;
  height: 39px;
  width: 105px;
}
.nav__links {
  display: flex;
  font-family: inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  column-gap: 20px;
  list-style-type: none;
}
.nav__link {
}
.header__title {
  max-width: 709px;
  margin-top: 183px;
  font-family: Inter, Arial, Sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}
.header__span-accent {
  display: flex;
  font-family: "noto serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}
.header__description {
  max-width: 683px;
  margin-top: 28px;
  font-family: "noto serif", "Arial", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.header__image {
  position: absolute;
  width: 568px;

  top: 124px;
  right: 5px;
}
.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__schedule {
  list-style-type: none;
  padding-left: 0;
}
.header__paragraph {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}
.content {
}
.recipes {
  background-image: url(/images/background_recipes.svg);
  background-size: cover;
  background-color: #0a2750;
  padding: 100px 80px 215px;
  color: #838383;
}

.recipes__title {
  max-width: 580px;
}
.recipes__subtitle {
  margin-top: 24px;
  max-width: 438px;
}
.recipes__videos {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  column-gap: 40px;
  padding: 0;
}
.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}
.recipes__video-item {
  display: flex;
  flex-direction: column;
}
.recipes__video-caption {
  display: flex;
  justify-content: space-between;
}
.reservation {
  background-image: url(/images/background_reservation.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #d9e7ff;
}
.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
.reservation__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}

.form__label {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
  font-size: 16px;
  font-family: inter;
  font-style: normal;
  line-height: 20px;
}
.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  width: 385px;
}
.form__input {
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 32px;
  height: 60px;
  font-family: Inter;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
}
.form__button {
  display: flex;
  border-radius: 4px;
  height: 60px;
  max-width: 385px;
  margin-top: 32px;
  background-color: #2f80ed;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.form__button:hover {
  opacity: 70%;
}
.form__checkbox {
  display: flex;
  justify-content: center;
  margin-right: 12px;
  width: 20px;
  height: 20px;
}
.form__label-checkbox {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.form__input_el_email {
  margin-top: 15px;
  font-size: 20px;
}
.placeholder {
  color: #838383;
}
